.invert-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  
  .exit{
    display: flex;
    justify-content: flex-end;
    img{
      cursor: pointer;
    }
  }
  
  .modal-invert{
    background-color: #DC493A;
    box-shadow: 0px 0px 78px -10px rgba(196,199,203,1);
    width: 540px;
    height: 245px;
    padding: 15px;
    border-radius: 5px;
    
  }
  
  .modal-content-invert{
    position: relative;
    font-family: 'Open Sans';
    color: #ffffff;
    
    h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: 'Open Sans';
      font-weight: bolder;
    }
    
    p{
      font-size: 15px;
    }
  }
  
  .call-to-action{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    
    .cart-invt a{
      text-decoration: none;
      color: #DC493A;
      text-transform: uppercase;
      font-size: 12px;
    }
    
    .back-invt:nth-child(0){
      color: #DC493A;
      margin-left: 18px;
    }
  }
  
  .back-invt{
    background-color: #DC493A;
    height: 35px;
    width: 100px;
    border: none;
   
    
    a{
      color: #ffffff;
      font-size: 12px;
    }
  }
  
  button {
    margin-left: 10px;
  }
  
  .cart-invt{
    width: 100px;
  }
  