@import '../../util/colors.scss';

.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.card{
    border: 1px #CCC solid;
    border-radius: 5px;
    width: 400px;

    .img-wrapper{
        height: 185px;
        background-color: #ccc;
    }

    .card-info-wrapper{
        padding: 10px;    
    }
}

