@import '../../util/colors.scss';

.button {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.button-info button{
    // margin-bottom: 30px;
    margin-right: 30px;
    font-size: 15px;
    width: 183px;
    border-radius: 5px;
    font-family: 'Open Sans';   
    padding: 10px;
    transition: background-color .2s ease-in;
}


.normal { 
    background-color: #ffffff;
    color: $mp-dark-blue;


    &:hover{
        box-shadow: 0px 0px 6px 1px rgba(224,224,224,1);
        background-color: $mp-dark-blue;
        color: #ffffff;
    }

    &:active{
        background-color: rgb(24, 37, 41);
        box-shadow: 0px 0px 6px 1px rgba(148,148,148,1);
        
    }

    &:focus{
        outline-style: none;

    }
}


.go-btn { 
    background-color: $ms-light-green;
    color: #ffffff;


    &:hover{
        box-shadow: 0px 0px 6px 1px rgba(224,224,224,1);
        color: #ffffff;
    }

    &:active{
        box-shadow: 0px 0px 6px 1px rgba(148,148,148,1);
        background-color: $ms-dark-green;
        
    }

    &:focus{
        outline-style: none;

    }
}



.unactive{
    background-color: #ECEDED;
    color: #B6B8B9;

    &:focus{
        outline-style: none;

    }
}





