.selectors{
    margin-bottom: 50px;
}

.select-form{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.selector-strong{
    margin-left: 5px;
    font-size: 20px;
}

.selector-strong-two{
    margin-left: 5px;
}

.selector-radio, .selector-check{
    position: relative;
    top: -3px;
    margin: 10px 0px;
}