table {
    color: #000000;
  }
  
  th{
    padding: 5px 5px 20px 5px;
   }
  
  td {
    padding: 5px;
  }
  
  tr .top{
    border-bottom: 1px #ccc solid;
  }
  
  td:nth-child(1){
    font-weight: 700;
  }
  
  
  tr:nth-child(even){
    background-color: #E4EBF3;
  }
  
  .table-container{
    min-width: 800px;
    display: inline-block;
    overflow-x: auto;
    padding-bottom: 10px;
    margin: 40px auto;
  }
  