.toast {
  font-size: 14px;
  font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
  background: hsla(192, 55%, 42%, 1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  align-items: center;
  min-width: 320px;
  width: 33vw;
  color: #fff;
  padding: 1.4rem;
  margin-bottom: 20px;
  border-radius: .3rem;
  animation: toast-in-anim 0.3s;
}

.toast-success {
  background:#32b643;
  color: #fff;
}

.toast-warning {
  background:#ffb700;
  color: #fff;
}

.toast-danger {
  background:#e85600;
  color: #fff;
}

.toast-icon {
  fill: white;
  height: 24px;
  width: 24px;
  padding: 3px;
  flex-shrink: 0;
}

.toast p {
  margin: 0;
  padding: 0;
}

.toast-btn {
  position: relative;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  transition-duration: .2s;
  margin-left: auto;
  flex-shrink: 0;
}

.toast-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
}

.toast-btn.dismiss-btn {
  fill: #fff;
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 48px;
  background: transparent;
  opacity: .45;
}

.toast-btn.dismiss-btn:hover,
.toast-btn.dismiss-btn:focus {
  opacity: .85;
}

.toast-btn.dismiss-btn .dismiss-btn-icon {
  outline: 0;
}

.toast-btn.action-btn {
  padding: 8px 16px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.toast-btn:active {
  transform: translateY(1px);
}

@keyframes toast-in-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}