@import '../../util/colors.scss';


.bottombar {
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
    background-color: $sidebar;
    display: flex;
    justify-content: flex-start;

    .logo{
        height: 22px;
        margin-top: 10px;
        margin-left: 10px;
    }
}