@import '../../util/colors.scss';

$sk-topbar-height: 50px;
$sk-topbar-padding: 16px;

.sk-topbar {
    margin-bottom: $sk-topbar-padding;
    position: relative;

    .container {
        height: $sk-topbar-height;
        max-height: $sk-topbar-height;
        background-color: $sidebar;
        padding: $sk-topbar-padding;
        display: flex;
        justify-content: flex-start;
        flex: 1 0 auto;

        .logo {
            height: 20px;
            align-self: center;
        }
        .vertical-bar {
            margin-left: $sk-topbar-padding;
            width: 2px;
            background-color: #ffffff;
        }
    }
    .dropdown {
        position: absolute;
        right: 0;
        margin: 0;
        margin-left: auto;
        z-index: 99;
        background: #eff2f4;
        width: 200px;
        list-style: none;
        padding: 0;

        a {
            color: inherit;
        }
        li {
            padding: 0 15px;
            line-height: 45px;

            &:hover {
                color: #ffffff;
                background: #cdd8df;
            }
        }
    }
}
.sk-user-nav {
    display: flex;
    margin-left: auto;

    .user-name {
        color: #ffffff;
        font-family: 'Open Sans';
        font-weight: 600;
        margin: 0;
        margin-bottom: 8px;
    }
    .user-type {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-family: 'Open Sans';
        font-size: 11px;
        margin: 0;
    }
    .user-initials {
        height: $sk-topbar-height;
        width: $sk-topbar-height;
        background-color: $ms-lighter-green;
        color: #ffffff;
        font-family: 'Open Sans';
        text-transform: uppercase;
        margin-left: $sk-topbar-padding;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .arrow-down {
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 8px;
        border-right-width: 8px;
        border-top: 10px solid $warning-yellow;
        margin-right: 6px;
    }
}
