.pop-up{
    background-color: #F2F9FC;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.popup-text-wrap{
    text-align: center;
    margin: 0 25px;
    border-bottom: #ccc 2px dashed;
    padding-bottom: 5px;

    img{
        height: 100px;
    }
}

.button-dec-wrap{
    display: flex;

    
}

.closer{
    height: 50px;
    width: 120px;
    border: none;
    background-color: #449DD1;
    transition: background-color .2s ease-in-out;
    color: #ffffff;
    font-size: 15px;

    &:hover{
        background-color: #3E8FBE;
        transition: background-color .2s ease-in-out;
    }
}

.cancel{
    height: 50px;
    width: 120px;
    border: #ccc 1px solid;
    transition: background-color .2s ease-in-out;
    color: #222222;
    font-size: 15px;
}

.closer, .cancel{
    margin: 25px 10px 0px;
}

.popup-wrap {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}