@import'../../util/colors.scss';

.green-alert{
    width: 250px;
    height: 400px;
    margin: 10px;
    background-color: $passing-green;
    text-align: center;

    img{
        height: 115px;
        display: block;
        margin: 0 auto;
        padding: 20px;
    }

    p {
        color: #fff;
        font-size: 12px;
    }

    .call-action {
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }
}

.red-alert{
    width: 250px;
    height: 400px;
    margin: 10px;
    background-color: $error-red;
    text-align: center;

    img{
        height: 115px;
        display: block;
        margin: 0 auto;
        padding: 20px;
    }

    p {
        color: #fff;
        font-size: 12px;
    }

    .call-action {
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }
}

.warning-yellow{
    width: 250px;
    height: 400px;
    margin: 10px;
    background-color: $warning-yellow;
    text-align: center;

    img{
        height: 115px;
        display: block;
        margin: 0 auto;
        padding: 20px;
    }

    p {
        color: #fff;
        font-size: 12px;
    }

    .call-action {
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }
}

.bright-error{
    width: 250px;
    height: 400px;
    margin: 10px;
    background-color: $error-bright-red;
    text-align: center;

    img{
        height: 115px;
        display: block;
        margin: 0 auto;
        padding-top: 20px;
    }

    p {
        color: #fff;
        font-size: 12px;
    }

    .call-action {
        font-weight: 700;
        font-size: 30px;
        color: #fff;
    }
}