@import '../../util/colors.scss';


.topbar {
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
    background-color: $sidebar;
    display: flex;

    .logobox{
        background-color: $ms-logo;
        height: inherit;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .note{
        margin-left: 10px;
    }


}

.icons-wrapper{
    display: flex;
}

// .green-alert {
//     background-color: $alert-green;
// }

@media only screen and (max-width: 950px) {


}